<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/dark-base.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="hexbear-dashboard.styles.css" />

    <HeadOutlet @rendermode=@(new InteractiveWebAssemblyRenderMode(prerender: false)) />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</head>

<body>
    <Routes  />
    <script src="_framework/blazor.web.js"></script>
    <persist-component-state />
</body>

</html>
