@inherits LayoutComponentBase

<RadzenComponents />
<RadzenLayout>
    <hexbear_dashboard.Client.Components.Header></hexbear_dashboard.Client.Components.Header>
    <RadzenBody>
        <div class="rz-mt-6">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
